import("utils")
importFrom("grDevices", "bmp", "dev.off", "jpeg", "pdf", "png", "postscript", 
    "tiff")
importFrom("graphics", "axis", "mtext", "par", "plot", "points", "segments", 
    "strwidth")
importFrom("stats", "AIC", "BIC", "coef", "confint", "deviance", "extractAIC", 
    "logLik", "model.frame", "nobs", "pchisq", "pnorm", "pt", "qnorm", 
    "residuals", "summary.lm", "vcov", "na.omit")
import("methods")
export("texreg")
export("htmlreg")
export("screenreg")
export("csvreg")
export("matrixreg")
export("wordreg")
export("coefplot")
export("plotreg")
export("coeftostring")
export("createTexreg")
exportMethods("extract")
S3method("print", "texregTable")
export("extract.aftreg")
export("extract.Arima")
export("extract.averaging")
export("extract.bam")
export("extract.betamfx")
export("extract.betaor")
export("extract.betareg")
export("extract.brglm")
export("extract.broom")
export("extract.btergm")
export("extract.censReg")
export("extract.clm")
export("extract.clmm")
export("extract.clogit")
export("extract.coeftest")
export("extract.coxph")
export("extract.coxph.penal")
export("extract.coxreg")
export("extract.dynlm")
export("extract.ergm")
export("extract.ergmm")
export("extract.fGARCH")
export("extract.gam")
export("extract.gamlss")
export("extract.gee")
export("extract.geeglm")
export("extract.glm")
export("extract.glmerMod")
export("extract.glmmadmb")
export("extract.glmmPQL")
export("extract.glmrob")
export("extract.gls")
export("extract.gmm")
export("extract.H2OBinomialModel")
export("extract.hurdle")
export("extract.ivreg")
export("extract.lm")
export("extract.lme")
export("extract.lme4")
export("extract.lmerMod")
export("extract.lmrob")
export("extract.lnam")
export("extract.logitmfx")
export("extract.logitor")
export("extract.lqmm")
export("extract.lrm")
export("extract.maBina")
export("extract.mer")
export("extract.mlogit")
export("extract.mnlogit")
export("extract.model.selection")
export("extract.multinom")
export("extract.negbinirr")
export("extract.negbinmfx")
export("extract.negbin")
export("extract.netlogit")
export("extract.nlme")
export("extract.nlmerMod")
export("extract.ols")
export("extract.pgmm")
export("extract.phreg")
export("extract.plm")
export("extract.pmg")
export("extract.poissonirr")
export("extract.poissonmfx")
export("extract.polr")
export("extract.probitmfx")
export("extract.rem.dyad")
export("extract.rlm")
export("extract.rq")
export("extract.sarlm")
export("extract.sclm")
export("extract.selection")
export("extract.sienaFit")
export("extract.simex")
export("extract.stergm")
export("extract.summary.lm")
export("extract.survreg")
export("extract.survreg.penal")
export("extract.svyglm")
export("extract.systemfit")
export("extract.texreg")
export("extract.tobit")
export("extract.vglm")
export("extract.weibreg")
export("extract.wls")
export("extract.zelig")
export("extract.Zelig")
export("extract.zeroinfl")
