export("texreg")
export("coeftostring")
export("extract.lm")
export("extract.lme")
export("extract.ergm")
export("extract.lrm")
export("extract.glm")
export("extract.gls")
export("extract.plm")
export("extract.rq")
export("extract.pmg")
export("extract.clogit")
